



/* color variables */
:root{
--color-primary:#2289FF;
--color-secondary:#314862!important;
--color-acent:#193F6A;
--font-poppin:'Poppins',serif;
}

/* Custom Classes */
.bg-primary{
    background-color:var(--color-primary);

}
.color-primary{
    color:var(--color-primary);
}
.bg-secondary{
    background-color:var(--color-secondary) ;
}
.color-secondary{
    color:var(--color-secondary);
}
.bg-acent{
    background-color:var(--color-acent) ;
}
.color-acent{
    color:var(--color-acent);
}
.btn-theme{
    box-shadow: none;
    margin:0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding:8px 20px;
    border-radius: 30px 0px 30px 30px;
    transition: 0.5s ease;
}
.btn-theme:hover{
    background-color: var(--color-acent);
    color:#ffffff;
    box-shadow: none;
}
.btn-theme-2{
    box-shadow:0 10px 20px 0px rgb(34 137 255/52%);
    margin:0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #ffffff;
    padding:10px 30px;
    border-radius: 30px;
    transition: 0.5s ease;
}
.btn theme-2:hover{
    background-color: var(--color-acent);
    color:#ffffff;
}
.btn-play{
    box-shadow:none;
    margin:0;
    font-family: var(--font-poppin);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #ffffff;
    padding:10px 16px;
    border-radius: 100%;
    transition: 0.5s ease;
}
.btn-play:hover{
    background-color: var(--color-acent);
    color:var(--color-primary);
    box-shadow: none;
}


/* Header Style Here */


header.header{
    width: 100%;
}

.header nav.navbar{
box-shadow: none;
color: var(--color-secondary);

}
.header nav.navbar .navbar-brand{
    font-family:var(--font-poppin);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-secondary);
}

.header nav.navbar .nav-item{
    margin:auto 5px;
    
}




.header nav.navbar .nav-link{
    font-family:var(--font-poppin);
    color: var(--color-secondary);
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.5s ease;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active{
    color: var(--color-primary);

}

/* Hero Banner Style */
#hero-banner{
    width:100%;
    padding:80px 0;
    color:var(--color-secondary);
    font-family: var(--font-poppin);
}
#hero-banner p{
    font-weight: 400;
}
#hero-banner .image{
    border-radius: 80px 80px 0px 80px;
    overflow:hidden;
    
}

/* Search Section Style */

#search-section .search-area{
    border-radius: 80px;
    padding: 15px 50px;  
    font-family: var(--font-poppin);
}
#search-section .search-area select{
    
    padding:5px;  
    border:none;
    outline:none;
    width: 80%;
    margin-bottom: 3px;

}
#search-section .search-area input{
    
     border:1px solid #ffffff;
    outline:none;
}
#search-section .search-area input:focus{
    outline-color: var(--color-acent);
    box-shadow: none;
    border:1px solid var(--color-secondary);
}
#search-section .search-area button.btn{
     border-radius: 30px;
     padding: 12px 40px;
}

/* About Section */

#about-section{
    width: 100%;
    padding:120px 0;
    background-color: #eeeeee;
}
#about-section .image{
    border-radius: 80px 0px 80px 80px;
    overflow: hidden;
    font-family: var(--font-poppin);

}
#about-section .image img{
   width: 100%;
   height: 400px;
   object-fit: cover;
}

/* Our Services */

.card-wrapper{
    height: 400px;
    width: 300px;
    perspective: 1000px;

}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .content{
    transform:rotateY(180deg);
    transition: 1s;

}
.face-front, .face-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color:black;
}

.face-back{
    transform:rotateY(180deg);
}

/*partner*/
.part{
    font-family: var(--font-poppin);
}
/*/partner*/

/* Mail Section */
#mail-section{
    width:100%;
    padding:100px 0;
    text-align: center;
    font-family: var(--font-poppin);

}
#mail-section .form{
    border-radius: 30px;
    padding:10px 20px;

}
#mail-section .form input{
   
    padding:15px 40px;
    border:none;

}
#mail-section .form input:focus{
    outline:none;
    box-shadow: none;
    border:none;

}
#mail-section .form .btn-theme{
    border-radius: 30px;
    padding:12px 40px;

}

/* Footer Section */

footer{
    width: 100%;
    padding:50px 0;
    background-color: var(--color-primary);
    font-family: var(--font-poppin);
    color:#ffffff;
    border-radius: 100px 0 0 0;

}

footer ul{
    list-style: none;
    margin:0;
    padding:0;
}
footer ul li a{
    color:#ffffff;
    font-size: 13px;
    transition: 0.5s ease;
}
footer ul li a:hover{
    opacity: 0.7;
    color: #ffffff;
}





/* user modal css */




.social_login{
    text-align: center;

}
.social_log{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;

}
.social_log li{
    margin: 0 6px ;
}
.social_log li img{
    width: 40px;

}
.social_login p{
    color:#8c8c8c;
}
.signin_modal .nav-tabs .down{
 background-color: #e5e5e5;
 border-radius: 0;
 font-weight: 600;
 border-color: #fff;
 padding: 1.2rem 0;
 font-size: 16px;
}
.signin_modal .nav-tabs .down.active{
    background-color: #fff;
}
.signin_modal .nav-tabs .up{
    width:50%;
    margin-bottom: 1rem;
    text-align: center;
}
.sign_modal .nav-tabs{
    border-bottom: none;
}
.signin_tab{
    padding:0 3rem;
}
.signin_tab input.form-control {
    font-size: 12px;
    color: #8c8c8c;
    height: 40px;

}
.signin_link {
    text-align: center;
    color: #8c8c8c;
    margin-top: 0.5rem;
}
.forgot_link{
    text-align: right;
    font-size: 12px;
}




/* user modal css 