


/* color variables */
:root{
--color-primary:#2289FF;
--color-secondary:#314862!important;
--color-acent:#193F6A;
--font-poppin:'Poppins',serif;
}

/* Custom Classes */
.bg-primary{
    background-color:var(--color-primary);

}
.color-primary{
    color:var(--color-primary);
}
.bg-secondary{
    background-color:var(--color-secondary) ;
}
.color-secondary{
    color:var(--color-secondary);
}
.bg-acent{
    background-color:var(--color-acent) ;
}
.color-acent{
    color:var(--color-acent);
}


/* Hero Banner Style */
#hero-banner{
    width:100%;
    padding:80px 0;
  /*  color:var(--color-secondary);*/
    font-family: var(--font-poppin);
}
#hero-banner p{
    font-weight: 400;
}
#hero-banner .image{
    border-radius: 80px 80px 0px 80px;
    overflow:hidden;
    
}

